artifacts/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1" elementFormDefault="unqualified" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xml="http://www.w3.org/XML/1998/namespace">
  <xs:complexType name="šablona_práva,_povinnosti_nebo_právní_skutečnosti" sawsdl:modelReference="https://slovník.gov.cz/generický/slovník-agendy-a112-správa-registru-rpp/pojem/šablona-práva--povinnosti-nebo-právní-skutečnosti">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
        Šablona práva, povinnosti nebo právní skutečnosti - Seznam práv, povinností a právních skutečností (PPP), které lze na základě § 8 zákona č. 12/2020 Sb. zapsat do RPP. Šablona představuje číselník PPP, u kterých je prostřednictvím Portálu občana zápis do RPP umožněn.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="iri" type="xs:anyURI"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="kód_šablony_ppp" type="xs:anySimpleType" sawsdl:modelReference="https://slovník.gov.cz/generický/slovník-agendy-a112-správa-registru-rpp/pojem/kód-šablony-ppp">
        <xs:annotation>
          <xs:documentation xml:lang="cs">
            kód šablony PPP - Kód šablony (typu) generovaný při vytvoření typu. Kód typu je ve formátu: prefix PPP a pořadové číslo (např. PPP-12).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="název_šablony_ppp" type="xs:anySimpleType" sawsdl:modelReference="https://slovník.gov.cz/generický/slovník-agendy-a112-správa-registru-rpp/pojem/název-šablony-ppp">
        <xs:annotation>
          <xs:documentation xml:lang="cs">
            název šablony PPP - Název šablony (typu) práva, povinnosti a právní skutečnosti.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="platnost_šablony_ppp_od" type="xs:anySimpleType" sawsdl:modelReference="https://slovník.gov.cz/generický/slovník-agendy-a112-správa-registru-rpp/pojem/platnost-šablony-ppp-od">
        <xs:annotation>
          <xs:documentation xml:lang="cs">
            platnost šablony PPP od - Datum, od kdy šablona (typ) platí.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ppp_vzniká_na_základě_služby" sawsdl:modelReference="https://slovník.gov.cz/generický/slovník-agendy-a112-správa-registru-rpp/pojem/ppp-vzniká-na-základě-služby">
        <xs:annotation>
          <xs:documentation xml:lang="cs">
            PPP vzniká na základě služby - Uživatel služby má právo na zápis práva, povinnosti nebo právní skutečnosti, která se jej týká a vyplývá z úkonu orgánu veřejné moci uvedeného v katalogu služeb, do registru práv a povinností, nejsou-li právo, povinnost nebo právní skutečnost zapsány v základním registru nebo agendovém informačním systému.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/služba-veřejné-správy">
          <xs:annotation>
            <xs:documentation xml:lang="cs">
              Služba veřejné správy - Služba veřejné správy představuje funkci (činnost) úřadu, která je vědomě poskytnuta konkrétním OVM konkrétnímu příjemci služby podle příslušného právního předpisu tak, že přináší příjemci vnímanou hodnotu, ať už v podobě benefitu nebo splnění zákonné povinnosti. Evidují se pouze takové služby VS, během nichž dochází k interakci mezi OVM a klientem či naopak, nikoli k interakci mezi OVM a OVM. Na službu VS lze také pohlížet jako na dosažení práva či naplnění povinnosti klienta, které nelze splnit jinak než interakcí či sérií interakcí mezi klientem a OVM. Služba se dělí podle toho, zdali je iniciována klientem nebo vykonávaná z moci úřední. Každá služba se skládá z nejméně jednoho úkonu.
            </xs:documentation>
          </xs:annotation>
          <xs:sequence>
            <xs:element name="iri" type="xs:anyURI"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="má_identifikátor_služby" type="xs:anySimpleType" sawsdl:modelReference="https://slovník.gov.cz/agendový/104/pojem/má-identifikátor-služby">
              <xs:annotation>
                <xs:documentation xml:lang="cs">
                  Má identifikátor služby - Automaticky (stejně jako v případě agendy nebo činnosti) generovaný kód sloužící pro databázové zpracování údajů.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="má_název_služby" type="xs:anySimpleType" sawsdl:modelReference="https://slovník.gov.cz/agendový/104/pojem/má-název-služby">
              <xs:annotation>
                <xs:documentation xml:lang="cs">
                  Má název služby - Název by měl klientovi stručně a jasně vystihnout, o jakou službu se jedná. Důležité je, aby byl nezaměnitelný s jinou službou, ale stále velmi jednoduchý, srozumitelný a zapamatovatelný. Měřítkem je, že název služby je používaný (bude používán) v běžném hovoru lidí.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="je_poskytována_v_rámci_agendy" sawsdl:modelReference="https://slovník.gov.cz/agendový/104/pojem/je-poskytována-v-rámci-agendy">
              <xs:annotation>
                <xs:documentation xml:lang="cs">
                  Je poskytována v rámci agendy - Přiřazuje úkon do agendy, v rámci které je vykonáván. Úkon je vždy vykonáván v právě jedné agendě. V jedné agendě může být vykonáváno více úkonů.
                </xs:documentation>
              </xs:annotation>
              <xs:complexType sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/agenda">
                <xs:annotation>
                  <xs:documentation xml:lang="cs">
                    Agenda - Ucelená oblast působnosti orgánu veřejné moci nebo ucelená oblast působení soukromoprávního uživatele údajů.
                  </xs:documentation>
                </xs:annotation>
                <xs:sequence>
                  <xs:element name="iri" type="xs:anyURI"/>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="má_kód_agendy" type="xs:anySimpleType" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/má-kód-agendy">
                    <xs:annotation>
                      <xs:documentation xml:lang="cs">
                        Má kód agendy - Kód agendy je veřejným identifikátorem, který je jednoznačně přiřazen záznamu o agendě v číselníku agend v registru práv a povinností.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##other"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##other"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="správnost_ppp_má_ověřovat" type="xs:anyURI" sawsdl:modelReference="https://slovník.gov.cz/generický/slovník-agendy-a112-správa-registru-rpp/pojem/správnost-ppp-má-ověřovat">
        <xs:annotation>
          <xs:documentation xml:lang="cs">
            správnost PPP má ověřovat - Právo na zápis práva, povinnosti nebo právní skutečnosti uplatní uživatel služby prostřednictvím Agentury u příslušného orgánu veřejné moci, který učinil podkladový úkon. Příslušný orgán veřejné moci osvědčí existenci práva, povinnosti nebo právní skutečnosti a potvrdí ji Agentuře, která ji zapíše do registru práv a povinností.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="správnost_ppp_má_ověřovat" sawsdl:modelReference="https://slovník.gov.cz/generický/slovník-agendy-a112-správa-registru-rpp/pojem/správnost-ppp-má-ověřovat">
        <xs:annotation>
          <xs:documentation xml:lang="cs">
            správnost PPP má ověřovat - Právo na zápis práva, povinnosti nebo právní skutečnosti uplatní uživatel služby prostřednictvím Agentury u příslušného orgánu veřejné moci, který učinil podkladový úkon. Příslušný orgán veřejné moci osvědčí existenci práva, povinnosti nebo právní skutečnosti a potvrdí ji Agentuře, která ji zapíše do registru práv a povinností.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:union memberTypes="xs:anyURI xs:anyURI"/>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="správnost_ppp_má_ověřovat" type="xs:anyURI" sawsdl:modelReference="https://slovník.gov.cz/generický/slovník-agendy-a112-správa-registru-rpp/pojem/správnost-ppp-má-ověřovat">
        <xs:annotation>
          <xs:documentation xml:lang="cs">
            správnost PPP má ověřovat - Právo na zápis práva, povinnosti nebo právní skutečnosti uplatní uživatel služby prostřednictvím Agentury u příslušného orgánu veřejné moci, který učinil podkladový úkon. Příslušný orgán veřejné moci osvědčí existenci práva, povinnosti nebo právní skutečnosti a potvrdí ji Agentuře, která ji zapíše do registru práv a povinností.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##other"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="šablona_práva,_povinnosti_nebo_právní_skutečnosti" type="šablona_práva,_povinnosti_nebo_právní_skutečnosti"/>
</xs:schema>
